<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<!--  General Web Application Description -->
	<display-name>Multiplier built as JSP</display-name>

	
 	 <welcome-file-list>
 	     <welcome-file>
 	         multiplier.html
 	     </welcome-file> 
 	</welcome-file-list>
 	
	<description>
		Multiplies times 3, using JSP
 	</description>
 	
	<servlet>
		<servlet-name>multiplier</servlet-name>
		<jsp-file>/multiplyJSP.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>multiplier</servlet-name>
		<url-pattern>/multiply</url-pattern>
	</servlet-mapping>

</web-app>
